html,
body {
  margin: 0;
  height: 100%
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
a.active {
  color: #000;
  text-decoration: underline;
}

h1,
p {
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 10;
}

#roster {
  position: fixed;
  top: 20%;
  z-index: 10;
  color: white;
  width: 600px;
  margin-left: calc(50% - 300px);
}

.roster-container {
  display: flex;
  flex-wrap: wrap;
}
.roster-container a {
  width: 120px;
}

figure {
  margin: 0;
  overflow: hidden;
}
.roster-container img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: solid 2px;
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 50px;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #EFEFEF;
}

.full-screen {
  height: 100%; /* makes panels the entire window height */
  background-size: cover;
}

.blue {
	background-color: #3883d8;
}

#start {
  background-image: url("../img/dallas-skyline.jpg");
}
#s1617 {
  /*background-image: url("../img/dallas-strong.jpg");*/
  width: 200%;
}
#s1617-1 {
  background-image: url("../img/dallas-strong.jpg");
}
#s1617-2 {
  background-image: url("../img/hbarnes.jpg");
}
section .inner {
  margin: 0 auto;
  max-width: 85%;
}
h1 {
  /*padding: 50% 0 0 0;*/
  text-align: center;
  font-size: 36px;
  position: relative;
}
.floater {
  height: 100%;
  width: 50%;
  float: left;
}
